.chart-container {
  position: relative;
  width: 100%;
  flex: 1;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
}

.chart-scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
  -webkit-overscroll-behavior-x: none;
  touch-action: pan-x;
}

.chart-scroll-content {
  position: relative;
  height: 100%;
  transform-origin: left;
  touch-action: pan-x;
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chart-overlay-container {
  position: relative;
  flex: 1;
  width: 100%;
} 