.chart-container {
  position: relative;
  width: 100%;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.chart-scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: scroll;
  overflow-y: hidden;
}

.chart-scroll-content {
  position: relative;
  width: 200vh;
  height: 100%;
  min-width: 100%;
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  width: 100%;
} 