.time-axis {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  height: 60px;
  padding-bottom: 12px;
  flex: 0 0 auto;
}

.time-axis-label {
  text-align: left;
  white-space: nowrap;
  position: absolute;
}

.time-axis-label--date,
.time-axis-label--time {
  font-weight: 700;
  line-height: 1em;
  color: var(--color-dark);
}

.time-axis-label span {
  display: block;
}

.chart-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
