.time-axis {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

.time-axis-label {
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
}

.time-axis-label--date,
.time-axis-label--time {
  font-family: 'Test Founders Grotesk Mono';
  font-weight: 700;
  line-height: 1.03em;
  color: #14264C;
}

.time-axis-label span {
  display: block;
}