.time-axis {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 12px;
  flex: 0 0 auto;
}

.time-axis__dates,
.time-axis__times {
  position: relative;
  width: 100%;
  height: 1em;
}

.chart-label {
  margin: 0;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  color: var(--color-dark);
}
