/* Tooltip container */
.tide-tooltip {
  position: fixed;
  bottom: var(--page-padding);
  left: var(--page-padding);
  z-index: 9999;
}

/* Content */
.tide-tooltip-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Measurement text */
.tide-tooltip-measurement {
  color: #ffffff;
}

/* Rate container */
.tide-tooltip-rate {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Arrow */
.tide-tooltip-arrow {
  color: #14264C;
}

.tide-tooltip-arrow img {
  position: relative;
  top: -1px;
}

.tide-tooltip-arrow img.falling {
  transform: rotate(180deg);
}

/* Rate value */
.tide-tooltip-rate-value {
  color: #14264C;
} 