/* Tooltip container */
.tide-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 12px;
  margin-top: 24px;
  pointer-events: none;
  width: max-content;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transition: opacity var(--tooltip-fade-duration) ease-in-out;
}

.tide-tooltip.visible {
  opacity: 1;
}

/* Right-aligned tooltip */
.tide-tooltip--right {
  left: auto;
  right: 0;
}

/* Content */
.tide-tooltip-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Rate container */
.tide-tooltip-rate {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Arrow */
.tide-tooltip-arrow {
  /* color property removed to allow SVG's fill color to show */
}

.tide-tooltip-arrow img {
  position: relative;
  top: -1px;
}

.tide-tooltip-arrow img.falling {
  transform: rotate(180deg);
}

/* Rate value */
.tide-tooltip-rate-value {
  color: var(--color-dark50);
  font-weight: var(--font-regular);
} 

.tide-tooltip-rate-value::after {
  content: '0';
  display: inline-block;
  width: 0;
  visibility: hidden;
}

/* High/Low tide rate value */
.tide-tooltip-rate-value--extreme {
  color: var(--color-dark);
} 