.app-container {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: var(--color-off-white);
  gap: 48px;
  overflow: hidden;
} 

.app-title {
  position: fixed;
  top: var(--page-padding);
  left: var(--page-padding);
  margin: 0;
  z-index: 10;
  color: var(--color-off-white);
  transition: opacity 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

